body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
display:flex;
}

.sidebar{
width:220px;
background:#111827;
padding:20px;
height:100vh;
}

.sidebar h2{
margin-bottom:20px;
}

.sidebar a{
display:block;
padding:10px;
margin-bottom:10px;
background:#1f2937;
color:white;
text-decoration:none;
border-radius:6px;
}

.sidebar a.active,
.sidebar a:hover{
background:#3b82f6;
}

.main{
flex:1;
padding:20px;
overflow:auto;
}

.topbar{
display:flex;
gap:10px;
margin-bottom:15px;
}

input,select{
padding:8px;
}

.header-inputs{
display:flex;
gap:10px;
margin-bottom:10px;
}

table{
width:100%;
border-collapse:collapse;
background:#020617;
}

th,td{
border:1px solid #374151;
padding:8px;
text-align:center;
}

.add{
background:#22c55e;
border:none;
padding:10px;
margin-top:10px;
color:white;
cursor:pointer;
}

button{
cursor:pointer;
padding:8px;
border:none;
background:#2563eb;
color:white;
border-radius:5px;
}

.delete{
background:#ef4444;
}
